/* index.html */
html{cursor:url("cursor/Spain.cur"), default;}

body{background-color:gray;
    cursor:url("cursor/Spain.cur"), default;}

#header{border-style:double;
    border-width:10px;
    background-color:red;}

#title{color:white; 
    text-align:center; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:underline;}
 
#navigation{border-style:double;
    border-width:10px;
    background-color:red;}

#button-menu{color:black;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    background-color:white; 
    border-style:double; border-color:black; border-width:10px; background-color:yellow;
    font-weight:bolder; 
    cursor:url("cursor/Hand\ Spain.cur"), default;}

footer{color:white;
    background-color:green;
    border-style:double;
    border-color:black;
    font-weight:bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:right;
    border-width:10px;
    padding-right:10px;
    padding-left:10px;
    width:fit-content;
    float:right;}

#button-menu:hover{color:red; 
    background-color:blue;}

/* telegram.html */
#telegram-header{border-style:double;
    border-width:10px;
    background-color:#0088cc;}
    
#telegram-title{color:white; 
    text-align:center; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:underline;}

#telegram-title:link{color:white;}
#telegram-title:hover{color:white;
    cursor:url("cursor/Hand\ Spain.cur"), default;}
#telegram-title:visited{color:white;}
#telegram-title:active{color:white;}

#telegram-subtitle{color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;}

#telegram-navigation{border-style:double;
    border-width:10px;
    background-color:#0088cc;}

/* spotify.html */
#spotify-header{border-style:double;
    border-width:10px;
    background-color:#1DB954;}
    
#spotify-title{color:white; 
    text-align:center; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:underline;}

#spotify-title:link{color:white;}
#spotify-title:hover{color:white;
    cursor:url("cursor/Hand\ Spain.cur"), default;}
#spotify-title:visited{color:white;}
#spotify-title:active{color:white;}

#spotify-subtitle{color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;}

#spotify-navigation{border-style:double;
    border-width:10px;
    background-color:#1DB954;}